@mixin html-no-scroll {
  html {
    height: 100%;
    overflow: hidden;
    body {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      max-width: 100vw;
      overflow: hidden;
    }
  }
}

@mixin debug ($color: red) {
  outline: 1px solid $color !important;
}

@mixin easing ($duration: 100ms, $property: all, $will-change: false) {
  @if $will-change {
    will-change: $property;
  }
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@mixin no-select {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin inset ($d: 0, $position: absolute) {
  position: $position;
  top: $d;
  left: $d;
  right: $d;
  bottom: $d;
}

@mixin reset-button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: inherit;
  background: transparent;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  resize: none;

  &::-moz-focus-inner { padding: 0; border: 0; }
  &:focus { outline: none; }
}

@mixin keyframes {
  $animation-number: 0 !default !global;
  $animation-number: $animation-number + 1 !global;
  $name: unquote('animation-#{$animation-number}');
  animation-name: $name;
  @at-root { @keyframes #{$name} { @content; }  } // stylelint-disable order/order
}

@keyframes loader-spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@mixin loader ($size: 5rem, $thickness: 1rem, $foreground: black, $background: transparent, $speed: 1s) {
  position: absolute;
  top: 50%;
  left: 50%;

  width: $size;
  height: $size;

  border: $thickness solid $background;
  border-top: $thickness solid $foreground;
  border-left: $thickness solid $foreground;
  border-radius: 50%;

  animation: loader-spin $speed linear infinite;

  content: '';
  pointer-events: none;
}

@mixin invisible-scroll ($direction: x) {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    height: 0;
    background: transparent;
    display: none;
  }

  @if $direction == x {
    overflow-x: scroll;
    overflow-y: hidden;
  } @else if $direction == y {
    overflow-x: hidden;
    overflow-y: scroll;
  } @else {
    overflow-x: scroll;
    overflow-y: scroll;
  }
}
