.select {
  @include no-select;
  --color: black;
  --background: white;

  position: relative;

  color: var(--color);
  background: var(--background);
  border: 1px solid;
  border-radius: 5px;

  select {
    @include reset-button;
    padding: calc(var(--gutter) / 2);
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
