@import 'style/reset';
@import 'style/fonts';
@import 'style/helpers';

@import 'style/animations';
@import 'style/devices';

:root {
  // --theme: defined in app.json
  --background: var(--theme);

  --font-family: 'Styrene';
  --font-size: 1.8rem;
  --line-height: 1.4;

  --gutter: 2rem;
}

@include html-no-scroll;

@import 'style/base';
@import 'components/Scene';

h1 {
  @include no-select;
  color: white;
  position: fixed;
  z-index: 2;
  font-weight: normal;

  top: 50%;
  left: 50%;
  font-size: 16vw;
  transform: translate(-50%, -50%);
  line-height: 1;

  mix-blend-mode: color-dodge;

  span:last-child {
    float: right;
  }
}

.scene {
  background: black;
}

.scene__canvas--creatures {
  mix-blend-mode: color;
}
