@import 'style/reset';
@import 'style/fonts';
@import 'style/helpers';

@import 'style/animations';
@import 'style/devices';

:root {
  // --theme: defined in app.json
  --background: var(--theme);

  --font-family: 'Styrene';
  --font-size: 1.8rem;
  --line-height: 1.4;

  --gutter: 3rem;

   @media (max-width: 400px) { --font-size: 1.6rem; }
   @media (max-width: 350px) { --font-size: 1.4rem; }
}

@include html-no-scroll;

@import 'style/base';

@import 'components/App';
@import 'components/Button';
@import 'components/Remote';
@import 'components/Renderer';
@import 'components/Select';
