@import 'style/reset';
@import 'style/fonts';
@import 'style/helpers';

@import 'style/animations';
@import 'style/devices';

:root {
  // --theme: defined in app.json
  --background: var(--theme);

  --font-family: 'Styrene';
  --font-size: 1.8rem;
  --line-height: 1.4;

  --gutter: 2rem;
}

@include html-no-scroll;

@import 'style/base';

@import 'components/App';
@import 'components/Renderer';

body[data-template='remote'] {
  @include no-select;
  padding: var(--gutter);
  display: flex;
  gap: var(--gutter);
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @include portrait {
    flex-direction: column;
  }

  button {
    cursor: pointer;
    padding: var(--gutter);
  }
}
